<style>
  .sign {
    border: 1px solid black;
    width: 50px;
    background: white;
    border-radius: 20px;
  }
  .sign:active {
    background: blue;
  }
  .flashy {
    background: red;
  }
  .flashy:active {
    background: blue;
  }
</style>


<h1>Sign In </h1>
<form action="<%= session_url %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <label>Username
  <input type="text" name="user[username]" value="<%= @user.username %>">
  </label>
  <label>Password
  <input type="password" name="user[password]">
</label><br><br>
  <div class="sign">
    <input type="submit" value="Sign In">
  </div>
</form>
<br><br>
Or click here to post as a demo user:
 
 <form action="<%= session_url %>" method="post">
 <input type="hidden" name="user[username]" value="Demo User">
 <input type="hidden" name="user[password]" value="Demo User">
 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
 <input type="submit" class"flashy" value="Demo Sign in">
 </form>