<h3 class="boardname"> All Boards > <%= board.get("title") %> </h3>

  <div class="bs-new-topic-container new-topic-container">
    <a href="#/boards/<%= board.id %>/topics/new" class="bs-new-topic">
      New Topic
    </a>
  </div>


<div class="bs-ul-container">
<ul class="bs-ul">
<li class="heading group">
  <div class="bs-subject-cont">Subject</div>
  <div class="bs-author-cont">Started by</div>
</li>


<% board.topics().each(function(topic) { %>
  <li class="group bs-subject-and-author">
    <div class="bs-border-border">
      <div class="bs-subject">        <!-- the "subject" column -->
        <a href="#/topics/<%= topic.id %>">
          <%= topic.get("title") %>
        </a>
      </div>
    </div>
    <div class="bs-border-border">
      <div class="bs-author">           <!-- the "started by" column -->
          <% if ( topic.get("user") !== null) { %>
            <a href="users/<%= topic.get('user_id') %>">
              <%= topic.get("user") %>
            </a>
          <% } else { %>
            The author of this Topic has deleted their profile
          <% } %>
      </div>
    </div>

    <div class="bs-replies">
      <%= topic.replies().length %> replies
      <% console.log(topic.replies()) %>
    </div>
 
    
  </li>
<% }) %>
</ul>
</div>
