Board: <%= @topic.board.title %>

<form action="<%= topic_url(@topic) %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

Change Board? <input type="text" value="<%= @topic.board.title%>" name="topic[board_title]">
Change Title? <input type="text" value="<%= @topic.title %>" name="topic[title]">
Change Content? <input type="text" value="<%= @topic.body %>" name="topic[body]">
<input type="submit" value="update topic">
</form>
