<style>
  .container {
    width: 100%;
    height: 100px;
  }
  .board {
    display: block;
    font-size: 180%;
    margin: auto;
    width: 330px;
    border-bottom: 2px solid blue;
  }
  .topic {
    font-size: 230%;
    width: 330px;
    margin: auto;
  }
  td {
    background: #EDEDED;
    color: black;
  }
</style>

<div class="container">
<div class="board"> Board: <%= link_to(@topic.board.title, board_url(@topic.board)) %> </div><br>
<div class="topic"> Topic: <%= @topic.title %></div>
</div>
<table>
  <tr>
    <th>Body: </th>
    <th>Author: </th>
  </tr>
  <tr>
  <td><%= @topic.body %></td>
  <td> <% if @topic.user != nil %>
    <%= link_to(@topic.user.username, user_url(@topic.user)) %>
    <% else %>
    The author of this topic has deleted their profile
    <% end %>
  </td>
  </tr>
  <% @topic.replies.each do |reply|%>
  <tr>
  <td><%= reply.content %></td>
      <% if reply.user != nil %>
   <td>   <%= link_to(reply.user.username, user_url(reply.user)) %></td>
      <% else %>
    <td>  the author of this reply has deleted their profile</td>
      <% end %>

      <% if current_user && reply.user_id == current_user.id %>
      <form action="<%= reply_url(reply) %>" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
    <td>  <input type="submit" value="remove reply" class="submit"> </td>

      </form>
      <td><%= link_to("edit reply", edit_reply_url(reply)) %></td>

      <% end %>
  <% end %>



    <% if current_user && current_user.id == @topic.user_id %>
  <form action="<%= topic_url(@topic) %>" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="remove topic" class="submit">
  </form>


  <%= link_to("Edit Topic", edit_topic_url(params[:id]))%>
   <% end %>



</table>


<% if logged_in %>
  <%= link_to("Post Reply", new_topic_reply_url(@topic.id)) %>
<% end %>