<style>

  .container {
    width: 100%;
    padding: 10px;
  }
  .board {
    display: block;
    font-size: 180%;
    margin: auto;
    width: 330px;
    border-bottom: 2px solid blue;
  }
  .topic {
    font-size: 230%;
    width: 100%;
    margin: auto;
  }
  .reply-data {
    width: 100%;
  }
  .reply-content {
    overflow: scroll;
    display: block;
    padding: 2px;
    width: 700px;
    float: left;
    height: 100px;
    background: #DFF0AF;
  }

  .parent {
    width: 100%;
  }
  .author {
    float: left;
    width: 100px;
    background: #A8F9FD;
  }
  .reply {
    width: 100%;
  }
  .reply-links: {
    display: block;
    background: solid blue;
    align: right;

  }
  .group:after {
    content: "";
    clear: both;
  }


</style>

<div class="container group">
<div class="board"> Board: <%= link_to(@topic.board.title, board_url(@topic.board)) %> </div><br>
<div class="topic"> Topic: <%= @topic.title %></div>
</div>


<br>

<ul class="parent">
 <li class="reply">
   <ul class="reply-data">

       <% if @topic.user != nil %>
       <li class="author">Author:
         <%= link_to(@topic.user.username, user_url(@topic.user)) %>
       </li>
      <% else %>
      <li class="author">
        The author of this topic has deleted their profile
      </li>
      <% end %>
      <div class="reply-content">
        <li class="content">
           <%= @topic.body %>
        </li>
      </div>
      <% if current_user && @topic.user_id == current_user.id %>
        <div class="reply-links">
          <form action="<%= topic_url(@topic) %>" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <li>
                <input type="submit" value="remove topic" class="submit">
            </li>
          </form>
            <li>
              <%= link_to("edit topic", edit_topic_url(@topic)) %></div>
            </li>
        </div>

      <% end %>
    </ul>
  </li>
<% @topic.replies.each do |reply|%>
<li class="reply">
<ul class="reply-data">
  <% if reply.user != nil %>
     <li class="author">Author: <%= link_to(reply.user.username, user_url(reply.user)) %></li>
  <% else %>
     <li class="author">the author of this reply has deleted their profile</li>
  <% end %>
   <div class="reply-content">
     <li class="content">
       <%= reply.content %>
     </li>
   </div>
    <% if current_user && reply.user_id == current_user.id %>
    <div class="reply-links">
      <form action="<%= reply_url(reply) %>" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <li><input type="submit" value="remove reply" class="submit"></li>
      </form>
      <li><%= link_to("edit reply", edit_reply_url(reply)) %></li>
    </div>

  <% end %>
  </ul>
</li>
<% end %>
</ul>
<% if logged_in %>
  <%= link_to("Post Reply", new_topic_reply_url(@topic.id)) %>
<% end %>
