<style>
input[type="text"] {
  background: white;
  margin-left: 30px;
}
</style>
<form action="<%= user_url%>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">
Change Username<input type="text" value="<%= @user.username %>" name="user[username]">

 <input type="hidden" name="_method" value="put">
Change your photo Url<input type="text" value="<%= @user.photo_url %>" name="user[photo_url]">

  <input type="submit" value="update user">
  <% if (current_user.admin && !@user.admin) %>
    <label>
    <input type="radio" name="admin" value="false" class="radio">
    <%= @user.username %> is not an Admin
    <label>
      <br>
      <label>
    <input type="radio" name="admin" value="true" class="radio">
    Make <%= @user.username %> an Admin
  </label>
  <% end %>
</form>
