<style>
  .container {
    width: 100%;
    padding: 10px;
  }
  .board {
    display: block;
    font-size: 180%;
    margin: auto;
    width: 330px;
    border-bottom: 2px solid blue;
  }
  .topic {
    font-size: 230%;
    width: 100%;
    margin: auto;
  }
  .reply-data {

  }
  .reply-content {
    overflow: scroll;
    display: block;
    padding: 2px;
    width: 700px;
    float: left;
    height: 100px;
  }
  .parent {
    width: 100%;
  }
  .author {
    float: left;
    width: 100px;
  }
  .reply {
    width: 100%;
    float: left;
  }
  .reply-links: {
    display: block;
    float: left;
    width: 50px;
    height: 200px;
    background: solid green;

  }
  .group:after {
    display: block;
    content: "";
    clear: both;
  }
  .remove {
    display: block;
    width: 200px;
  }
  .edit {
    display: block;
    width: 200px;
  }
  .a-head {
    float: left;
    display: block;
    width: 300px;
    margin-left: 10px;
  }
  .top-head {
    text-align: right;
    margin-right: 500px;
  }
  .heading {
    padding: 10px;
    background: #425C76;
    color: white;
  }


</style>
<h3>Dominion Strategy Forum  >  <a href="#boards/<%= topic.get('board_id') %>">  <%= topic.board().get('title') %> </a>
   > <%= topic.get('title') %> </h3>

<br>

<div class="heading group">
<div class="a-head">Author</div>
<div class="top-head"> Topic: <%= topic.board().get('title') %></div>
</div>


<ul class="parent">
 <li class="reply">
   <ul class="reply-data group">


       <li class="author">
         <% if (topic.get('user_id') != null ) { %>
           <a href="users/<%= topic.get('user_id') %>"> <%= topic.user().get('username') %> </a>
          <% } else { %>
            The author of this topic has deleted their profile
          <% } %>
      </li>

      <li class="reply-content">
        <div class="content">
           <%= topic.get('body') %>
        </div>
      </li>

      <% if (topic.get('user_id') == DominionStrategyClone.currentUserId) { %>

        <li class="reply-links">
        <ul>

            <li>
              <form>
                <input type="submit" value="remove topic" class="submit">
              </form>
            </li>
            <li>
              <a href="#topics/<%= topic.id %>/edit">edit topic</a>
            </li>
        </ul>
        </li>


      <% } %>
    </ul>
  </li>
  <% topic.replies().each(function(reply) { %>

  <li class="reply">
  <ul class="reply-data group">
    <% if (typeof reply.get('user_id') !== "undefined") { %>
       <li class="author"> <a href='users/<%= reply.get('user_id') %>'><%= reply.user().get('username') %></a></li>
    <% } else { %>
       <li class="author">the author of this reply has deleted their profile</li>
    <% } %>

  <li class="reply-content">
    <div class="content">
      <%= reply.get('content') %>
    </div>
  </li>

  <% if (reply.get('user_id') === DominionStrategyClone.currentUserId) { %>
   <li class="reply-links">
     <ul>

       <li><button class="submit" id="<%= reply.get('id') %>">remove reply</button></li>
       <li><a href='#/replies/<%= reply.get('id') %>/edit'>edit reply</a></li>

    </ul>
  </li>

  <% } %>
  </ul>
  </li>

  <% }) %>
</ul>
<% if (DominionStrategyClone.loggedIn) { %>
  <a href='#topics/<%= topic.get('id') %>/replies/new'>Post Reply</a>
<% } %>
