<h3>All Boards  >  <a href="#boards/<%= topic.get('board_id') %>">  <%= topic.board().get('title') %> </a>
   > <%= topic.get('title') %> </h3>

<br>


  <div class="topic-show-post"><a href='#topics/<%= topic.get('id') %>/replies/new'>Reply</a></div>


<div class="heading group">
<div class="topic-show-a-head">Author</div>
<div class="topic-show-top-head"> Topic: <%= topic.board().get('title') %></div>
</div>



<ul class="topic-show-parent group">
 <li class="topic-show-reply blue">
   <ul class="topic-show-reply-data group">



       <li class="topic-show-author">
         <% if (topic.get('user_id') != null ) { %>
           <a href="users/<%= topic.get('user_id') %>"> <%= topic.user().get('username') %> </a>
            <img src=" <%= topic.user().get('photo_url') %>" class="icon">
          <% } else { %>
            The author of this topic has deleted their profile
          <% } %>
      </li>

      <li class="topic-show-reply-content group">
        <% if (topic.get('user_id') == DominionStrategyClone.currentUserId) { %>

          <div class="topic-show-reply-links">
          <ul>

              <li>
                <form>
                  <div class="topic-show-reply-link submit"><input type="submit" value="Remove"></div>
                </form>
              </li>
              <li>
                <div class="topic-show-reply-link"><a href="#topics/<%= topic.id %>/edit">Modify</a></div>
              </li>
          </ul>
        </div>
        <% } %>


        <div class="topic-show-subject-line"> <%= topic.get('title') %><br>
        On <%= topic.escape('created_at').substring(6,10) %>
           <%= topic.escape('created_at').substring(12,16) %>
           </div>
        <div class="topic-show-content">
           <%= topic.get('body') %>
        </div>
      </li>


    </ul>
  </li>

  <% DominionStrategyClone.indicator = "white" %>
  <% topic.replies().each(function(reply) { %> <!-- Here comes the list of all the replies -->

  <li class="topic-show-reply topic-show-<%= DominionStrategyClone.indicator %>">
  <ul class="topic-show-reply-data group">
    <% if (typeof reply.get('user_id') !== "undefined") { %>
       <li class="topic-show-author"> <a href='users/<%= reply.get('user_id') %>'><%= reply.user().get('username') %></a>
       <img src=" <%= reply.user().get('photo_url') %>" class="icon">
       </li>
    <% } else { %>
       <li class="topic-show-author">the author of this reply has deleted their profile</li>
    <% } %>

  <li class="topic-show-reply-content">
  <% if (reply.get('user_id') === DominionStrategyClone.currentUserId) { %>
   <div class="topic-show-reply-links">
     <ul>

       <li><button class="topic-show-submit topic-show-reply-link" id="<%= reply.get('id') %>">Remove</button></li>
       <li><div class="topic-show-reply-link"><a href='#/replies/<%= reply.get('id') %>/edit'>Modify</a></div></li>

    </ul>
  </div>

  <% } %> <!-- The following is always displayed - regardless of who's logged in -->

    <div class="topic-show-subject-line">Re: <%= topic.escape('title') %><br>
    On <%= reply.escape('created_at').substring(6,10) %> <!-- time stamp -->
       <%= reply.escape('created_at').substring(12,16) %>
    </div>
    <div class="topic-show-content">
      <%= reply.escape('content') %>
    </div>
  </li>


  </ul>
  </li>
  <% if (DominionStrategyClone.indicator === "white") { %>
    <% DominionStrategyClone.indicator = "blue" %>
  <% } else {  %>
    <% DominionStrategyClone.indicator = "white" %>
  <% } %>
  <% }) %>
</ul>
