<!DOCTYPE html>
<html>
<head>

  <title>DominionStrategyClone</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Dominion Strategy Forum</h1>
<div id="errors">
  <%= flash[:errors] %>
</div>



<% if logged_in %>
  <div class="hello">
  <%= "Hello #{current_user.username} "%>
  <ul>
  <% current_user.notifications.each do |notification| %>
  <li> <%= link_to(notification.text, notification.url) %> </li>
  <% end %>
  </div>
<% end %>

<ul class="nav-bar">
  <li class="nav home">
    <a href="/#">HOME</a>
  </li>
<% if logged_in %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <li class ="nav">
      <input type="submit" value="LOGOUT" class="submit">
  </li>
  </form>


  <li class="nav">
  <%= link_to("MEMBERS", users_url) %>
  </li>

  <li class="nav">
    <%= link_to("PROFILE", user_url(current_user))%>
  </li>

  <% if current_user.admin %>

  <li class="nav">
    <%= link_to('CREATE BOARD', '/#boards/new' ) %>
  </li>

  <% end %>

<% else %>

 <li class="nav">
   <%= link_to('REGISTER', new_user_url) %>
 </li>

 <li class="nav">
   <%= link_to('LOGIN', new_session_url) %>
 </li>

<% end %>
</ul>


<%= yield %>

</body>
</html>
